tasca_4.1/cataleg.dtd

<!ELEMENT cataleg (single | album)+>

<!ELEMENT single (titol, descripcio?, pais, idioma, genere*, grup, membres, durada)>
<!ATTLIST single codi CDATA #REQUIRED>

<!ELEMENT album (titol, descripcio?, pais, idioma, genere*, grup, membres, numero_cancons, titols_cancons)>
<!ATTLIST album codi CDATA #REQUIRED>

<!ELEMENT titol (#PCDATA)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT idioma (#PCDATA)>

<!ELEMENT genere (classica | jazz | blues | gospel | soul | pop | rocknroll | country)>
<!ELEMENT classica EMPTY>
<!ELEMENT jazz EMPTY>
<!ELEMENT blues EMPTY>
<!ELEMENT gospel EMPTY>
<!ELEMENT soul EMPTY>
<!ELEMENT pop EMPTY>
<!ELEMENT rocknroll EMPTY>
<!ELEMENT country EMPTY>

<!ELEMENT grup (#PCDATA)>

<!ELEMENT membres (membre+)>
<!ELEMENT membre (nom)>
<!ATTLIST membre sexe (home | dona) #REQUIRED>
<!ELEMENT nom (#PCDATA)>

<!ELEMENT durada (#PCDATA)> <!ELEMENT numero_cancons (#PCDATA)> <!ELEMENT titols_cancons (canco+)>
<!ELEMENT canco (titol_canco, durada_canco)>
<!ATTLIST canco numero CDATA #REQUIRED>
<!ELEMENT titol_canco (#PCDATA)>
<!ELEMENT durada_canco (#PCDATA)>